doctype 5
html
	head
		title= "Past Perfect | "+title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/jquery.dropdown.css")
		link(rel="icon", type="image/png", href="/images/pp.png")
		script(type='text/javascript', src='/javascripts/jquery-1.9.1.min.js')
		script(type="text/javascript", src="/javascripts/jquery.dropdown.js")
		script(type='text/javascript', src='/javascripts/jquery-seeThru.min.js')
		script(type='text/javascript')
			$(document).ready(function(){
						
				$('body').css('display', 'none');
				//setTimeout(function() {$('body').fadeIn(1000);}, 1000);
				$('body').fadeIn(1000);
				$('a').click(function() {
					event.preventDefault();
					newLocation = this.href;
					$('body').fadeOut(1000, function(){newpage(newLocation);});
				});

				$('video').bind("ended", function() {

					$('body').fadeOut(1000, function(){newpage('archive');});
				});

				function newpage(loc) {
					window.location = loc;
				}
			});
	body
		block content
