body
  margin 0
  padding 0
  text-align left
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-size 15px
  color #FFF

a
  color #606060
  text-decoration none


h1
  font-size 30px
  padding 20px 20px 10px 20px
  -webkit-margin-before 0
  -webkit-margin-after 0
  font-weight normal
  margin 0

h1:hover
  text-shadow 0 0 30px #FFF

h1 a
  text-decoration none !important

h1 subtitle
  font-size 20px
  margin 0
  padding-left 12px
  font-style italic
  font-weight 100
  //text-shadow 0 0 20px #FFF
  //text-align center
  //margin-left 270px

#mainContainer
  background -webkit-gradient(linear, 0% 0%, 0% 60%, from(#FFFFFF), to(#ADADAD));


#container, #logo-shadow
  margin-left auto
  margin-right auto
  width 770px

#intro
  width 100%
  height 100%
  position absolute
  background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#ADADAD));

#archive-button
  background -webkit-linear-gradient(rgb(47, 136, 196), rgb(59, 113, 194));
  -webkit-box-shadow 0 0 30px 5px #BABABA;
  font-size 30px
  text-shadow 0 0 20px #FFF
  color white
  text-align center
  padding 30px 0
  width 400px
  margin 200px auto 


#nav-shadow
	-webkit-box-shadow 0 0 30px 5px #BABABA;

#nav
  background-image url('../images/Fractal_Bright.jpg')
  background-size 100% 100%

#nav a 
	color #FFF 
	padding-right 20px
  text-decoration underline

#menu
  overflow auto
  width 100%
  margin-top 30px

.menubox
  height 70px
  float left
  width 160px
  padding 20px
  -webkit-box-shadow 0 0 30px 5px #BABABA;

#drop
  color white !important

.emotion
  background white
  color black
  width 490px
  background -webkit-linear-gradient(rgb(159, 159, 159), rgb(119, 119, 119));

.choose 
  margin-top 15px
  padding 5px
  background-color silver
  cursor pointer


#consult
  background #75A6FA;
  font-size 30px
  width 170px
  margin-right 30px
  text-shadow 0 0 20px #BBD3FC

#consult a
  color white !important

#consult:hover
  text-shadow 0 0 20px #FFF

#sort a, #footer a, #memory a
	text-decoration underline

#spacer
  height 700px

#footer
	padding 50px 0

#footer a, #footer
	color #FFF

#memories
  text-align left

.memorybox
  background #FFF
  padding 15px
  margin 30px 0 0 0
  //border-radius 8px
  -webkit-box-shadow 0 0 30px 5px #BABABA
  //-moz-border-radius 15px
  //border-radius 15px

.memory
  color #606060
  line-height 24px

.memorybox .title
  padding 10px 0px
  font-size 24px

#memories .memorybox:hover, #consultation a
	text-decoration underline !important

.icon
  width 20px
  float right
  margin-top -30px

.eye
  width 40px
  margin-top -20px

#legend
  position absolute
  top 808px
  left 0
  font-size 20px
  padding 22px

.red 
  color #A46767  

.yellow 
  color #DFD8A0

.blue  
  color #909ACB

.green 
  color #739974

.purple
  color #83568A

.orange
  color #DBA781

.brown   
  color #9C948A

#logo-shadow
	//-webkit-box-shadow 0 0 30px 5px #BABABA;
	width 200px
	position absolute
	top 0
	left 0

#logo
  //background-image url('../images/Fractal_1.jpg')
  //background-size 100% 100%

#logo h1
	font-size 30px
	padding 20px

#logo .memorybox
	margin 0
	padding 0

#colors
  background #FF0000
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  animation colorcycle 60s linear 0s infinite alternate
  -webkit-animation colorcycle 60s linear 0s infinite alternate

@-webkit-keyframes colorcycle 
  0%   {background: #6969F5;}
  25%  {background: #8C81A6;}
  50%  {background: #54BA85;}
  100% {background: #7514A6;}


video 
  position absolute
  top 0
  left 0
  width 100% !important
  height auto

canvas 
  position absolute
  left 0
  top 80%
  width 100%
  height 20%

.loading
  padding 100px 20px
  font-size 30px
  color #606060
