body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  color: #fff;
}
a {
  color: #606060;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-weight: normal;
  margin: 0;
}
h1:hover {
  text-shadow: 0 0 30px #fff;
}
h1 a {
  text-decoration: none !important;
  color: #fff;
  font-size: 90px;
  animation: fadeshadow 10s linear 0s infinite alternate;
  -webkit-animation: fadeshadow 10s linear 0s infinite alternate;
}
@-webkit-keyframes fadeshadow {
  0% {
    text-shadow: 0 0 30px #a8b7d1;
  }

  100% {
    text-shadow: 0 0 30px #bed6ff;
  }
}
h1 subtitle {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 100;
  text-shadow: 0 0 20px #fff;
  color: #606060;
  float: right;
}
#mainContainer {
  background: -webkit-gradient(linear, 0% 0%, 0% 60%, from(#fff), to(#adadad));
}
#container,
#logo-shadow {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}
#intro {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#adadad));
}
#archive-button {
  background: -webkit-linear-gradient(#2f88c4, #3b71c2);
  -webkit-box-shadow: 0 0 30px 5px #bababa;
  font-size: 30px;
  text-shadow: 0 0 20px #fff;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  width: 400px;
  margin: 200px auto;
}
#nav {
  background-size: 100% 100%;
  margin-bottom: 50px;
}
#menu {
  overflow: auto;
  width: 100%;
  padding: 50px 0 30px 0;
}
#drop {
  color: #606060;
}
#choose-label {
  float: left;
  font-size: 20px;
  padding: 20px 10px 0 0;
}
.choose {
  float: left;
  margin-top: 15px;
  padding: 8px;
  background-color: #fff;
  -webkit-appearance: textfield;
  cursor: pointer;
  width: 400px;
}
#consult {
  text-align: right;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 50px;
}
#consult a,
#consultation a {
  animation: fade 10s linear 0s infinite alternate;
  -webkit-animation: fade 10s linear 0s infinite alternate;
}
@-webkit-keyframes fade {
  0% {
    color: #606060;
  }

  100% {
    color: #fff;
  }
}
#consultation {
  margin-top: 100px;
}
#consult a:hover {
  text-shadow: 0 0 15px #a8b7d1;
}
#spacer {
  height: 700px;
}
#footer {
  padding: 50px 0;
}
#footer a,
#footer {
  color: #fff;
}
#memories {
  text-align: left;
}
.memorybox {
  background: #fff;
  padding: 15px;
  margin: 30px 0 0 0;
  -webkit-box-shadow: 0 0 30px 5px #bababa;
}
.memory {
  color: #606060;
  line-height: 24px;
}
.memorybox .title {
  padding: 10px 0px;
  font-size: 24px;
}
.memorybox:hover {
  -webkit-box-shadow: 0 0 30px 5px #a8b7d1;
}
#memoryContainer {
  background: #000;
  width: 100%;
  height: 138%;
  display: block;
  position: absolute;
}
.icon {
  width: 20px;
  float: right;
  margin-top: -30px;
}
.eye {
  width: 40px;
  margin-top: -20px;
}
#legend {
  position: absolute;
  top: 75%;
  left: 0;
  font-size: 20px;
  line-height: 30px;
  padding: 22px;
}
.red {
  color: #a46767;
}
.yellow {
  color: #dfd8a0;
}
.blue {
  color: #909acb;
}
.green {
  color: #739974;
}
.purple {
  color: #83568a;
}
.orange {
  color: #dba781;
}
.brown {
  color: #9c948a;
}
#logo-shadow {
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
#logo h1 {
  font-size: 30px;
  padding: 20px;
}
#logo .memorybox {
  margin: 0;
  padding: 0;
}
#colors {
  background: #f00;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: colorcycle 120s linear 0s infinite alternate;
  -webkit-animation: colorcycle 120s linear 0s infinite alternate;
}
@-webkit-keyframes colorcycle {
  0% {
    background: #6969f5;
  }

  25% {
    background: #8c81a6;
  }

  50% {
    background: #54ba85;
  }

  100% {
    background: #7514a6;
  }
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: auto;
}
canvas {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 20%;
}
.loading {
  padding: 100px 20px;
  font-size: 30px;
  color: #606060;
}
