extends layout

block content

	.contentBox
		.innerBox
		.contentText
			p Our memories are the most important things we own.
			p They are the foundation of the self. Without them life has no storyline, greater purpose, or meaning. There are many ways to pass down memories--writing, photographs, home videos,<font color = "888888"> word of mouth--but each of these methods has the tendency to degrade over time and leave out important details. They represent but a small and sometimes dubious fraction of our life experience.

