extends layout

block content

	include nav
	#mainContainer
		#container

			#memories

				include sidebar
				if memories
					- each memory in memories
						a(href="/memory/"+memory.name)
							div.memorybox
								div.memory
									div.title= memory.title
									br
									if memory.subtitle
										div.subtitle= memory.subtitle
					if memories.length < 2
						#spacer
				else
					#spacer
					
			include footer
