extends layout

block content

	#mainContainer
		include nav
		#container

			#memories

				include sidebar
				if memories
					- each memory in memories
						a(href="/memory/"+memory.name)
							div.memorybox
								div.memory
									div.title= memory.title
									br
									if memory.subtitle
										div.subtitle= memory.subtitle

			include footer
