extends layout

block content

	include nav
	#mainContainer
		#container

			#memories

				include sidebar
				if memories
					- each memory in memories
						a(href="/memory/"+memory.name)
							div.memorybox
								div.memory
									div.title= memory.title
									br
									if memory.subtitle
										div.subtitle= memory.subtitle
									if memory.video
										img.eye.icon(src='/images/eye.png')
									else if memory.audio
										img.icon(src='/images/audio.png')
									else
										img.icon(src='/images/text.png')
					if memories.length < 4
						#spacer
				else
					#spacer

			include footer
