extends layout

block content

	#mainContainer
		#intro

			div.loading= "loading..."
			video#day(autoplay=true)
				source(src="http://pastperfeect.s3.amazonaws.com/PastPerfect_intro_Final_s.mp4", type='video/mp4')


	a(href="/archive") 
		div#logo-shadow
			div#logo
				h1= "Past Perfect"