doctype 5
html
	head
		title= "Past Perfect | "+title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.9.1.min.js')
		script(type='text/javascript', src='/javascripts/jquery-seeThru.min.js')
		script(type='text/javascript')
			$(document).ready(function(){
				$('#viz').seeThru();
			});
	body
		block content