#menu 
	#consult.menubox
		a(href="/joy")!="Schedule a Consultation"
	.emotion.menubox
		//a(href="/joy")!="Joyous Memories"	
		#drop
			ul
				li
					a(href="/memory/")!= "ok"
					ul
						li
							a(href="/memory/")!= "ok"
